# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/databasename?appName=Cluster0

# API URL (usado no frontend para chamar a API)
# Em desenvolvimento: http://localhost:3000
# Em produção: https://seu-usuario-seu-ra.vercel.app
API_URL=http://localhost:3000
